<p>Return a single <code class="highlighter-rouge">{{include.resource}}</code> for the specified id{{include.content}}.</p>

<p>All requests MUST contain a valid ‘Authorization’ header and MUST contain an ‘Accept’ header. The `Accept` header indicates the format of the response the client is able to understand, this will be one of the following <code class="highlighter-rouge">application/fhir+json</code> or <code class="highlighter-rouge">application/fhir+xml</code>.</p>

<h3 id="readresponse">1.1. Response</h3>

<p>A full set of response codes can be found here <a href="https://nhsconnect.github.io/CareConnectAPI/explore_api_codes.html" target="_blank">API Response Codes</a>. FHIR Servers MUST support the following response codes:</p>
<!--
<p>A full set of response codes can be found here <a href="resources_api_codes.html">API Response Codes</a>. FHIR Servers MUST support the following response codes:</p>
-->

<!--
<table>
  <tbody>
    <tr>
      <td>200</td>
      <td>successful operation</td>
    </tr>
    <tr>
      <td>404</td>
      <td>resource not found</td>
    </tr>
    <tr>
      <td>410</td>
      <td>resource deleted</td>
    </tr>
  </tbody>
</table>
-->

<table>
  <tbody>
    <tr>
      <td>200</td>
      <td>successful operation</td>
    </tr>
    <tr>
      <td>400</td>
      <td>invalid parameter</td>
    </tr>
    <tr>
      <td>401/4xx</td>
      <td>unauthorized request</td>
    </tr>
    <tr>
      <td>403</td>
      <td>insufficient scope</td>
    </tr>
    <tr>
      <td>404</td>
      <td>resource not found</td>
    </tr>
    <tr>
      <td>410</td>
      <td>resource deleted</td>
    </tr>
  </tbody>
</table>
